<!--The content below is only a placeholder and can be replaced.-->
<header class="container-fluid">
  <div class="row vertical-align">
    <div class="col-sm-4 form-control">
      <div class="input-group" [hidden]="rooms.length===0" >
        <label class="form-control" for="rooms">Room:</label>
        <select class="form-control" id="rooms" (ngModelChange)="change($event)" [(ngModel)]="selected" name="room">
          <option *ngFor="let rm of rooms" [ngValue]="rm">{{rm}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2 form-control">{{selected}}</div>
    <div *ngIf="username" class="col-sm-4 text-nowrap form-control">Username: {{username}}</div>
    <div class="col-sm-2 form-control">
      <!-- Button to open the modal login form -->
      <button *ngIf="!username" class="label label-sucess" (click)="tologin()">Login</button>
      <button *ngIf="username" class="label label-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
<!-- The Modal -->
<div id="login" class="modal">
  <!-- Modal Content -->
  <form class="modal-content animate" onsubmit="return false;">
    <div class="container-fluid">
      <span onclick="$('#login').css('display', 'none')" class="close" title="Close Modal">&times;</span>
      <label for="username"><b>Username:</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="inputUser" required>
      <button (click)="login()">Login</button>
      <input type="checkbox" checked="checked" id="remember">
      <label for="remember">Remember me</label>
    </div>
    <div class="container-fluid" style="background-color:#f1f1f1">
      <button type="button" onclick="$('#login').css('display', 'none')" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<section>
  <div class="list">
    <!--h2>Room: {{room}}</h2-->
    <div *ngFor="let m of messages" class="list-item">
      <div class="list-item-text well">
        {{m.username}}: {{m.content}}
      </div>
    </div>
  </div>
</section>

<div class="footer" *ngIf="username">
  <div class="form-group">
    <label for="message" class="form-control" >Message: </label>
    <textarea id="message" [(ngModel)]="message" class="form-control" cols="1" maxlength="100" (keyup.enter)="send()"></textarea>
  </div>
</div>

<script>
  // Get the modal
  let modal = $('#login');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    //alert(JSON.stringify(event) + '\n' + JSON.stringify(event.target));
    if (event.target === modal[0]) {
      modal.css('display', 'none');
    }
  }
</script>
