<!DOCTYPE html>
<html>
<head>
    <title>JCT Chat lab7</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/lab7.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lab7.css">
</head>
<body ng-app="lab7" ng-controller="MainCtrl">
<header class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group" ng-if="rooms.length!=0" >
                <span class="input-group-addon">Group:</span>
                <select class="form-control" ng-model="selected.group" ng-change="change()" ng-options="item for item in rooms"></select>
            </div>
        </div>
        <div class="col-sm-3">{{selectedGroup}}</div>
        <div class="col-sm-2 text-right bg-success vcenter"><span ng-if="username" class="text-nowrap vcenter">Userame:</span></div>
        <div class="col-sm-2 text-left bg-success vcenter"><span ng-if="username" class="text-nowrap vcenter">{{username}}</span></div>
        <div class="col-sm-2 vcenter">
            <!-- Button to open the modal login form -->
            <button ng-if="!username" class="label label-sucess vcenter" onclick="$('#login').css('display', 'block')">Login</button>
            <button ng-if="username" class="label label-danger vcenter" ng-click ="logout()">Logout</button>
        </div>
    </div>
</header>
<!-- The Modal -->
<div id="login" class="modal">
    <!-- Modal Content -->
    <form class="modal-content animate" submit="return false;">
        <div class="container-fluid">
            <span onclick="$('#login').css('display', 'none')" class="close" title="Close Modal">&times;</span>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" ng-model="inputUser" required>
            <button ng-click="login()">Login</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>
        <div class="container-fluid" style="background-color:#f1f1f1">
            <button type="button" onclick="$('#login').css('display', 'none')" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

<section>
    <div class="list">
        <!--h2>Room: {{room}}</h2-->
        <div ng-repeat="m in messages" class="list-item">
            <div class="list-item-text">
                <h3>{{m.username}}</h3>
                <p>{{m.content}}</p>
            </div>
        </div>
    </div>
</section>

<div class="footer">
    <div class="form-group">
        <label>Message</label>
        <textarea ng-model="message" class="form-control" cols="1" maxlength="100" ng-enter="send(message)"></textarea>
    </div>
</div>

<script>
    // Get the modal
    var modal = $('#login');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        //alert(JSON.stringify(event) + '\n' + JSON.stringify(event.target));
        if (event.target == modal[0]) {
            modal.css('display', 'none');
        }
    }
</script></body>
</html>
